// Item Tags
.item-tags
    .tag-container
        display: flex
        padding: 4px
        background-color: #FFFFFF33
        border: #00000033 solid 1px
        border-radius: 1pt
        flex-wrap: wrap
        align-content: flex-start
        overflow-x: scroll

        .tag
            margin: 1px
            border: #585858 solid 1px
            padding: 3px
            background-color: rgb(181, 235, 181)
            border-radius: 5pt 1pt 1pt 5pt
            align-items: center
            display: inline
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff

        .tag-input
            background-color: transparent
            border: none
            width: 120px
            flex-grow: 1

    .confirmation
        .cancel
            display: inline-block
            background-color: rgb(253, 92, 92)

        .save
            display: inline-block
            background-color: rgb(181, 235, 181)
